*,*::before,*::after{
    margin: 0;
    padding: 0;
    box sizing: border-box;
}
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

p{
    font-family: Roboto;
    font-size: 16 px;
}
